@import "node_modules/bootswatch/dist/cosmo/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.postTitle {
    margin-bottom: 0.3rem !important;
}

.postMeta {
    color: $text-muted;
    font-size: $small-font-size;
    margin-bottom: 1rem;

    span {
        display: inline-block;
        margin-right: 10px;
    }

    span > svg {
        margin-right: 4px;
    }
}

.postContent {
    line-height: 1.6;
}
